<%= render 'layouts/navbar' %>

<div class="container" style="margin-top: 200px;">
	<div class="row">
	  <div class="col-md-4">
	      <div class="blocks active-block">
	          <div class="block-header">
	              <h4>Done</h4>
	          </div>
	          <div class="block-container">
	              <p><span class="glyphicon glyphicon-heart" data-unicode="e013" style="color:#45BA76;"> </span>5GB Disk Space</p>
	              <p class="price"><i style="font-size: 40px;">$</i>50</p>
	          </div>
	          <div class="block-footer">
	              <%= link_to 'Donar', createDonateButton(50)['sandbox_init_point'], class: 'btn btn-primary' %>
	          </div>
	      </div>
	  </div>
  	  <div class="col-md-4">
	      <div class="blocks active-block">
	          <div class="block-header">
	              <h4>STANDARD</h4>
	          </div>
	          <div class="block-container">
	              <p><span class="glyphicon glyphicon-heart" data-unicode="e013" style="color:#45BA76;"> </span>5GB Disk Space</p>
	              <p class="price"><i style="font-size: 40px;">$</i>100</p>
	          </div>
	          <div class="block-footer">
	              <%= link_to 'Donar', createDonateButton(100)['sandbox_init_point'], class: 'btn btn-primary' %>
	          </div>
	      </div>
	  </div>
  	  <div class="col-md-4">
	      <div class="blocks active-block">
	          <div class="block-header">
	              <h4>STANDARD</h4>
	          </div>
	          <div class="block-container">
	              <p><span class="glyphicon glyphicon-heart" data-unicode="e013" style="color:#45BA76;"> </span>5GB Disk Space</p>
	              <p class="price"><i style="font-size: 40px;">$</i>300</p>
	          </div>
	          <div class="block-footer">
	              <%= link_to 'Donar', createDonateButton(300)['sandbox_init_point'], class: 'btn btn-primary' %>
	          </div>
	      </div>
	  </div>
	</div>
</div>